<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-QqZs0aSOGFan3GWVdP4PyCBp6icaF/4n8Q+wsmZUTiiVIqE4r4tFYcb8Osf+8y45" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>
  <!--NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mr. Wu</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <!--
      <li><a href="#">Schedule</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Forum<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
        <li><a href="#">Freshmen</a></li>
        <li><a href="#">Sophmores</a></li>
        <li><a href="#">Juniors</a></li>
        <li><a href="#">Seniors</a></li>
        </ul>
      </li>
      -->

      <!-- Check for a log-in -->
      <ul class="nav navbar-nav navbar-right">
      {% if is_logged_in %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, {{ first_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>            
            <li><a href="{{ url_for('reset_pass') }}">Reset Password</a></li>   
          </ul>
        </li>
      {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
      {% endif %}
      </ul>
    </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <br><br>
  </body>
</html>
