body{
        background-image: url(/static/footer_lodyas.png);
        overflow: hidden;
      }

      .form{
        position: absolute;
        top: 50% ;
        left: 50% ;
        transform: translateX(-50%) translateY(-80%);
        border-radius: 20px;
        background-color: #F3F1EC;
        padding: 15px;
        -webkit-box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.25);
      }

      input{
        border-radius: 10px;
        opacity: 0.7;
        background-color: black;
        color: white;
        font-size: 20pt;
      }


      .writing{
          font-family: 'Source Sans Pro', sans-serif;
      }
