            body{
                background-image: url(/static/grey_wash_wall.png);
            }
            
            .container{
                background-color: white;
                border-radius: 15px;
                padding: 5%;
            }
              
            .post{
                background-color: #F2B3B3;
                border-radius: 15px;
                padding: 5%;
            }
              
            .writing{
                font-family: 'Source Sans Pro', sans-serif;
            }
              
              
            .menu {
                background: white;
                right: -250px;  /* start off behind the scenes */
                height: 100%;
                position: fixed;
                width: 250px;
                z-index: 99999;
            }
              
              
            .description{
                color: white;
            }
              
            .field{
                border-radius: 15px;
            }